<select class="dropdown" id="filter-selection">
  <option value="default">ALL</option>
  <option value="Fruit">Fruit</option>
  <option value="Veggies">Veggies</option>
  <option value="Grains">Grains</option>
  <option value="Dairy">Dairy</option>
  <option value="Meat">Meat</option>
  <option value="Seasoning">Seasoning</option>
  <option value="Drinks">Drinks</option>
  <option value="Other">Other</option>
</select>
