<select class="dropdown" id="filter-selection">
  <option value="default">ALL</option>
  <option value="Vegetarian">Vegetarian</option>
  <option value="Pescatarian">Pescatarian</option>
  <option value="Keto">Keto</option>
  <option value="Gluten-Free">Gluten-Free</option>
</select>
