<article class="recipe">
<div class="recipe-picture">
    <img class="url" src="{{url}}" alt="" />
</div>
<div class="recipe-content">
    <p class="recipe-name">
        {{name}}
    </p>
    <p class="recipe-servings">
        {{servings}}
    </p>
    <p class="recipe-tags">
        {{tags}}
    </p>
</div>
</article>

