<main id="about">

    <div id="title">

        <h1>About Real Time Recipes</h1>

    </div>



    <div class="about_body">


        <p>Our company built a recipe generating website where users are able to input ingredients and recieve recipe
            recommendations. </p>

        <p>The output contains recipes with ingredients entered by the user, as well as recipes that are similar.</p>

        <p>Additionally, the user is able to filter recipes by diet and search for a specific recipe by name.</p>

        <p>The website contains functionality for the user to create their own recipes, and filter through different
            categories.</p>



    </div>


    <div id="about_foot">
        <p>Authors: Shaun Leib, Blake Schafer, Zach Coalson, Joe Murche</p>
    </div>


</main>